/app/backend/.phpunit.cache
/app/backend/node_modules
/node_modules
/app/backend/public/build
/app/backend/public/uploads
/app/backend/public/hot
/app/backend/public/storage
/app/backend/storage/*.key
/app/backend/database/database.sqlite
/app/backend/vendor
/app/backend/.env
/app/backend/.env.backup
/app/backend/.env.production
/app/backend/.phpactor.json
/app/backend/.phpunit.result.cache
/.fleet
/.idea
/.vscode
